#root {
  width: min(96svw, 100%);
  margin: 0 auto;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  text-align: center;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
  line-height: 1.3;
}

p {
  line-height: 1.5;
}

code,
.counter {
  display: inline-flex;
  border-radius: 4px;
  font-family: var(--mono);
  color: var(--color-constant);
}

code {
  padding: 4px 8px;
  font-size: 15px;
  line-height: 1.35;
  background: var(--color-code);
}
