/* 
@font-face {
  font-family: "Badeen Display";
  src: url("/fonts/BadeenDisplay-Regular.woff2") format("woff2");
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: "Science Gothic";
  src: url("/fonts/ScienceGothic-VariableFont_wght.woff2") format("woff2");
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: "Sofia Sans";
  src: url("/fonts/SofiaSans-VariableFont_wght.woff2") format("woff2");
  font-weight: 1 1000;
  font-display: swap;
}

@font-face {
  font-family: "Stack Sans Notch";
  src: url("/fonts/StackSansNotch-VariableFont_wght.woff2") format("woff2");
  font-weight: 200 900;
  font-display: swap;
}
*/

/* ============================== light mode ============================== */
@media (prefers-color-scheme: light) {
  :root {
    --color-text: #6b6375;
    --color-constant: #fff;
    --color-primary: #aa3bff;
    --color-secondary: #aa3bff;
    --color-background: #fff;
    --color-content: #f4f3ec;
    --color-code: #f4f3ec;
    --color-link: #aa3bff;
    --color-active: #aa3bff;
    --color-neutral: rgba(170, 59, 255, 0.15);
    --color-shadow: rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;
    --color-gradient: linear-gradient(to right, #aa3bff, #c084fc);
  }
}

/* ============================== dark mode ============================== */
@media (prefers-color-scheme: dark) {
  :root {
    --color-text: #9ca3af;
    --color-constant: #f9fafb;
    --color-primary: #c084fc;
    --color-secondary: #c084fc;
    --color-background: #16171d;
    --color-content: #1f2028;
    --color-code: #1f2028;
    --color-link: #c084fc;
    --color-active: #c084fc;
    --color-neutral: rgba(192, 132, 252, 0.15);
    --color-shadow: rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
    --color-gradient: linear-gradient(to right, #c084fc, #aa3bff);
  }
}

/* ============================== fonts ============================== */
:root {
  --sans: system-ui, "Segoe UI", Roboto, sans-serif;
  --heading: system-ui, "Segoe UI", Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--color-text);
  background: var(--color-background);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (max-width: 1024px) {
  :root {
    font-size: 16px;
  }
}
